doctype html
html(lang="en")
    head
        title= title
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css")
    body
        header
            nav.navbar.navbar-expand-lg.navbar-light.bg-light.p-4
                a.navbar-brand(href="#") MeublesApp
                ul.navbar-nav.ml-auto
                    li.nav-item
                    a.nav-link(href="/logout") Nos meubles
                    a.nav-link(href="/logout") Déconnexion
        main
            .container
            block content
