extends layouts/user_layout 

block content   
    .text-center 
        h1= title
        p Bienvenue sur l'application de gestion de meubles
        p Ce site vous permet de suivre les matériaux utilisés pour chaque meuble.